
body {
    background-color: #f2f2f2;
    margin: 0%;
    
}
header {
    display: flex;
    justify-content: center;
    background-color: #0074D9;
    color: #f2f2f2;

    }


.list {
    list-style-type: none;
    border:2px solid gray;
    width:fit-content;

}

.content {
    
    font-size: 30px;
   
    
    
}



section {
    padding-left:20px;
    
    
}

button {
    background-color: #0074D9 ;
    
    color: #f2f2f2;
    
    
}

#forecast-icon {
    
    width: 50px
    
}
.card {
    
    
    background-color: #0074D9 ;
    margin: 20px;
    border:2px solid gray;
}

form {
    
    padding-right: 150px;
    
    
    
}
#five-day {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    color: #f2f2f2;
    flex-wrap: wrap;
}

@media screen and (max-width:862px) {
body {
    margin: 0%;
    padding: 0%;
    flex-direction: column;
    justify-content: center;
    
    

}
.box {
    flex-direction: column;
    align-items: center;
    
    padding-left: 0%;
    
}
aside {
    
    flex-direction: column;
    justify-content: center;
}

section {
    justify-content: center;
}
}